# Ignoring:
.yankring*
.neocon
.gnome2*
.gksu*
.icons*
.gstreamer*
.pki*
.macromedia*
.viminfo
.secrets*
.config/chromium/*
.config/transmission/*
.ssh*
.zhistory
examples.desktop
.fasd
.dmrc
.adobe
.aptitude
.aprc
.ICEauthority
.cache*
.ctags
Desktop*
.ecryptfs*
.local*
.steam*
Templates*
Videos*
Pictures*
.mozilla*
.share*
.dbus*
.Private*
Downloads*
Documents*
donaldwonders*
.Xauthority
.xsession*
.encryptfs*
.gconf*
.gtk*
gtk-gnutella-downloads*
.mission-control*
.pryrc*
.pulse*
.rdebugrc*
drunkendotfiles*
.compiz*
