# Ignoring:
.secrets*
.dmrc*
.adobe*
.aptitude
.aprc
.ICEauthority
.cache*
.ctags*
Desktop*
.ecryptfs*
.local*
.steam*
Templates*
Videos*
Pictures*
.mozilla*
.share*
.dbus*
.Private*
Downloads*
Documents*
donaldwonders*
.Xauthority
.xsession*
.encryptfs*
.gconf*
.gtk*
.mission-control*
.pryrc*
.pulse*
.rdebugrc*
drunkendotfiles*
.compiz*
