# Ignoring:
.neocon
.gnome2*
.gstreamer*
.pki*
.macromedia*
.viminfo
.secrets*
.ssh*
.zhistory
examples.desktop
.fasd
.dmrc
.adobe
.aptitude
.aprc
.ICEauthority
.cache*
.ctags
Desktop*
.ecryptfs*
.local*
.steam*
Templates*
Videos*
Pictures*
.mozilla*
.share*
.dbus*
.Private*
Downloads*
Documents*
donaldwonders*
.Xauthority
.xsession*
.encryptfs*
.gconf*
.gtk*
gtk-gnutella-downloads
.mission-control*
.pryrc*
.pulse*
.rdebugrc*
drunkendotfiles*
.compiz*
